# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

#snakemake
results/**
resources/**
logs/**
.snakemake
.snakemake/**

# database
data/HGTDB/temp_data/*
data/HGTDB/preprocessed_data/*
data/NCBI/prep/*
data/NCBI/sequence_files/*
data/NCBI/cog-20.cog.csv
data/NCBI/cog-20.def.tab
data/HGTREE/version_1/*
data/HGTREE/sequence_files/*
partition_file/*
reference/*
models/*
configuration/*
annotated_file_HGT/*
# personal stuff ignore!
newgenes_complete_reference.csv
new_genes/*
old_experiments/*
Playground.ipynb
gtdb_and_links.csv
hgtree_and_links.csv
bac120_metadata.tsv
calculated_mah_20231910.csv
complete_reference_redo.csv
11_gene_window.ipynb
LSTM_tagger_2.ipynb
LSTM_tagger_3.ipynb
list_of_extraneous_regions.csv
HGTDB_threshold/*
11_gene_window_2.ipynb
ignore/*
.vscode/*
deviation.ipynb
post_14032024.ipynb